#discordLink{
    text-align: center;
    text-decoration: underline;
    color: purple;
}

#contactInfo{
    text-align: center;
    text-decoration: underline;
    color: purple;
}

#adminInfo{
    text-align: center;
    text-decoration: underline;
    color: purple;
}