.gameViewPage{
    
}

.imageBannerContainer {
    
}

.imageBanner {
    width: 100%;
    height: 50%;
    margin-top: 0px;
    box-shadow: -5px 1px 10px grey;
}

.bannerGameTitle {
    width:fit-content;
    padding: 20px;
    border: 4px gray solid;
    font-size: 3rem;
    font-weight: bolder;
    background-color: white;
    position: relative;
    bottom: 60px;
    margin: auto;
    box-shadow: -5px 1px 10px grey;

}

.genreAndSemster {
    width: auto;
    display: flex;
    background-color: white;
    box-shadow: -5px 1px 10px grey;
    margin: 0% 5%;

}

.genre {
    border: 4px rgb(46, 138, 199) solid;
    width: fit-content;
    margin: 1% 0% 1% 1%;
    font-size: 2.5rem;
    color: white;
    background-color:rgb(56, 159, 228);
    padding: 0% 2%;
}

.semester {
    border: 4px rgb(218, 180, 78) solid;
    width: fit-content;
    margin: 1% 0% 1% 1%;
    font-size: 2.5rem;
    color: white;
    background-color:rgb(238, 200, 96);
    padding: 0% 2%;
    
}

.gameInfo {
    background-color: white;
    width: auto;
    margin: 2% 5%;
    box-shadow: -5px 1px 10px grey;

}

.gameViewDescription {
    padding: 2% 2% 0% 2%;
}

.otherInfo {
    padding-bottom: 2%;
}

.names {
    list-style-type: none;
}

.downloadButtonDiv {
    align-items: center;
    width: 100%;
    margin: 60px 0px 30px;
    margin-bottom: auto;
}

.downloadButton {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: white;
    background-color:rgb(6, 140, 250);
    font-size: xx-large;
    box-shadow: -5px 1px 10px grey;
    border: none;
}
