.homePage{
    min-height: 100%;
    background-image: url("../images/gdatiles.png");
    background-size: cover;
}

.title {
    text-align: center;
}

.sectionTitle{
    background-color: ghostwhite;
    border-style: solid;
    border-color: black;
}

.carousel {
    box-shadow: -5px 1px 10px grey;
}

.carddeck {
    align-self: stretch;
}

.featuredGameCard {
    box-shadow: -5px 1px 10px grey;
}

.newGameCard {
    height:max-content;
    box-shadow: -5px 1px 10px grey;
}

.cardImage {
    height: 60%;
}

.newGameCardImage {
    width: 25%;
    height: 40%;
}

.allGamesButtonDiv {
    align-items: center;
    width: 100%;
    margin: 60px 0px 30px;
    margin-bottom: auto;
}

.allGamesButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    color: white;
    background-color:green;
    font-size: x-large;
    box-shadow: -5px 1px 10px grey;

}