.uploadPage{
    min-height: 100%;
    background-image: url("../images/gdatiles.png");
    background-size: cover;
}

#title{
    text-align: center;
    background-color: ghostwhite;
    border-style: solid;
    border-color: black;
}